<h3>
    <i class="fas fa-book-reader "> Posts</i>
</h3>

<div class="section">
    Create private and Public Posts
</div>

<div class="divider"></div>

<div class="section">
    <a href="/auth/google" class="btn red darken-1">
    <i class="fab fa-google left"></i>
    Log In with Google</a>
</div>